/*1*/
body{
  background-color: #03003F;
  background-image: url("../img(1)/bodyimg.png");
  
}
header{
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 10%;
  background: none;
}
header div.H_Logo_Container{
  position: relative;
  margin-top: 30px;
  margin-left: 400px;
  background: none;
  width: 200px;
}
header ul.Menu {
  position: absolute;
  top: 30px;
  margin: 0; /* Обнуляем значение отступов */
  padding: 4px; /* Значение полей */
 }
 header ul.Menu li {
  display: inline; /* Отображать как строчный элемент */
  margin-right: 5px; /* Отступ слева */
  /*border: 1px solid #000; /* Рамка вокруг текста */
  padding: 4px; /* Поля вокруг текста */
  margin-left: 50px;
 }
 header ul.Menu li a{
   color: white;
   vertical-align: middle;
   text-decoration: none;

   font-weight: normal;
 }
 header .hnav_1{

   position: absolute;
 }
 header .hnav_2{
  margin-left: 1200px;

 }
 header .burger_menu{
  position: absolute;
  top: 20px;
  margin-left: 390px;
} 
 header .nav-icon {
  margin: 1em;
  width: 30px;
}

header .nav-icon:after, 
header .nav-icon:before, 
header .nav-icon div {
  background-color: #fff;
  border-radius: 3px;
  content: '';
  display: block;
  height: 2px;
  margin: 7px 0;
  transition: all .2s ease-in-out;
}
header .nav-icon:hover:before {
  transform: translateY(12px) rotate(135deg);
}

header .nav-icon:hover:after {
  transform: translateY(-12px) rotate(-135deg);
}

header .nav-icon:hover div {
  transform: scale(0);
}
/*2*/
.Homepage_2_block{
  position: absolute;
  color:white;
  top: 97px;
  width: 100%;
  background: none;
  height: 850px;
}
.Homepage_2_block .info_container{
  position: absolute;
  margin-left: 400px;
  margin-top: 250px;

  background: none;
  
}
.Homepage_2_block .info_container h1{
  font-size: 40px;
}
.Homepage_2_block .banner1{
  position: absolute;
  background: none;
  margin-top: 150px;
  margin-left: 950px;
}
.Homepage_2_block .Services_button_Container{
  width: 200px;
}

.Homepage_2_block .MessageCont{
  position: absolute;
  margin-left: 550px;
}
/*3*/
.headerblock_3{
  background: none;
  height: 730px;
  position: relative;
  margin-top: 900px;
}
.headerblock_3 .texter_Container{
  position: absolute;
  margin-left: 70%;
}
.headerblock_3 .big_info_container{
  z-index: 0;
  position: absolute;
  margin-top: 100px;
  margin-left: 500px;
}

.headerblock_3 .big_info_container_2{
  margin-left: 550px;
  margin-top: -410px;
}
.headerblock_3 a{
  color: coral;
  text-decoration: none;
}

.headerblock_3 .big_info_container h3{
  z-index: 100;
}